body, section, header, h1, h2, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: #2d1f2a;
}

header {
  padding: 20px;
  border-bottom: 4px solid #A4A197;
}

h1 {
  color: #97442D; /* red */
}

h2 {
  color: #e0b261; /* yellow */
}

strong {
  color: #e0b261;
}

section {
  margin: 40px 20px 20px;
  color: white;
}

section:first-of-type {
  margin-top: 20px;
}

ul {
  margin: 10px;
}

ul li {
  padding: 20px;
  background: #2d1f2a;
  border-top: 1px dashed #A4A197;
  position: relative;
}

a.btn {
  background: #97442D;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.image {
  width: 120px;
  display: inline-block;
  border-radius: 60px;
  overflow: hidden;
}

.image img {
  width: 100%;
}

.image + .btn {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 25px;
}

.code-block {
  background: cadetblue;
  padding: 10px;
  border-radius: 5px;
}

code span {
  display: inline-block;
}

code p {
  margin-top: 0;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  section, ul {
    width: 1000px;
    margin: 60px auto 0;
  }

  ul {
    width: 800px;
  }

  a.btn {
    width: 200px;
  }
}