/*----------------------------------------------------------
/*--Pls styles----------------------------------------------
/*--You may change styles but do not change class names!----
----------------------------------------------------------*/

/*-- Overlay styles--*/
.pls-wait {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  pointer-events: none;
  transform: scale(3);
  display: none;
}

.pls-wait.main {
  position: fixed;
}

.pls-wait .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  opacity: .8;
}

.pls-wait .container {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 2;
  top: 20%;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  color: #e0b261;
}

.pls-wait.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.pls-wait.active .spinner {
  width: 80px;
  height: 80px;
  background: #e0b261;
  animation: spin 1s infinite;
  -webkit-animation: spin 1s infinite;
  position: relative;
  left: 50%;
  margin-left: -40px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.pls-wait .spinner.success {
  -webkit-animation: none;
  transform: rotate(90deg);
  border-radius: 40px;
  background: darkseagreen;
}

.pls-wait .spinner.success:after {
  content: ':)';
  position: absolute;
  color: white;
  font-size: 5rem;
  padding: 7px 0;
  margin: 0 -9px;
  letter-spacing: .5rem;
}

.pls-wait .spinner.error {
  -webkit-animation: none;
  transform: rotate(90deg);
  border-radius: 40px;
  background: brown;
}

.pls-wait .spinner.error:after {
  content: ':(';
  position: absolute;
  color: white;
  font-size: 5rem;
  padding: 7px 0;
  margin: 0 -9px;
  letter-spacing: .5rem;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(.2);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
    border-radius: 40px;
    background: #97442D;
  }
  to {
    -webkit-transform: rotate(720deg) scale(.2);
  }
}

@-webkit-keyframes spin-success {
  from {
    -webkit-transform: rotate(0deg);
    background: cadetblue;
    border-radius: 20px;
    opacity: 1;
  }

  50% {
    opacity: .7;
  }

  to {
    -webkit-transform: rotate(360deg);
    background: cadetblue;
    border-radius: 10px;
    opacity: 1;
  }
}

/*--General success and error styles--*/
.pls-message {
  transition: .5s all;
  max-height: 0;
  padding: 0 8px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0;
}

.pls-message.active {
  padding: 8px;
  max-height: 40px;
  margin: 10px 0;
}

.pls-message.success {
  background: rgba(0, 255, 0, .1);
  color: darkseagreen;
  border: 1px solid darkseagreen;
}

.pls-message.error {
  background: rgba(255, 0, 0, .1);
  color: #97442D;
  border: 1px solid #97442d;
}
