.waitpls {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  pointer-events: none;
  transform: scale(3);
}

.waitpls.main {
  position: fixed;
}

.waitpls .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  opacity: .8;
}

.waitpls .container {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 2;
  top: 30%;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  color: #e0b261;
}

.waitpls.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.waitpls .spinner {
  width: 80px;
  height: 80px;
  background: #e0b261;
  animation: spin 1s infinite;
  -webkit-animation: spin 1s infinite;
  position: relative;
  left: 50%;
  margin-left: -40px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(.2);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
    border-radius: 40px;
    background: #97442D;
  }
  to {
    -webkit-transform: rotate(720deg) scale(.2);
  }
}